<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level class=[%logger{0}] %marker %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="MAGENTA" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%magenta(%msg) %n</pattern>
        </encoder>
    </appender>

    <appender name="DEFAULT_COLOR" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%msg %n</pattern>
        </encoder>
    </appender>


    <logger name="pretty-print-headers" level="INFO">
        <appender-ref ref="MAGENTA"/>
    </logger>

    <logger name="pretty-print-default-text" level="INFO">
        <appender-ref ref="DEFAULT_COLOR"/>
    </logger>

    <logger name="com.wix.build.sync" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="com.wix.build.sync" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>