<included>
    <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/sync-deps-messages.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_DIR}/sync-deps-messages.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msgHighlight(%-5level) host=[${HOSTNAME}] artifact=[%X{ver}] thread=[%thread] class=[%logger{0}]
                url=[%X{url}] localUrl=[%X{localUrl}] ip=[%X{ip}] port=[%X{port}] user=[%X{user}] userGuid=[%X{uuid}]
                editorSession=[%X{esi}] savingSession=[%X{ssi}] globalSession=[%X{gsi}] requestId=[%X{request_id}] %marker %msgHighlight(%msg) %n %stacktraceHighlight(%rEx) %nopex
            </pattern>
        </encoder>
    </appender>


    <logger name="com.wix.build.sync" level="DEBUG" additivity="false">
        <appender-ref ref="AUDIT"/>
        <appender-ref ref="LOG_STASH_GENERAL"/>
    </logger>

</included>